altgraph==0.17
atomicwrites==1.4.0
attrs==20.1.0
colorama==0.4.3
future==0.18.2
iniconfig==1.0.1
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.5.0
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pefile==2019.4.18
pluggy==0.13.1
py==1.10.0
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2020.8
pyinstaller-versionfile==1.0.0
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
pyxpdf==0.2.3
semantic-version==2.8.5
six==1.15.0
toml==0.10.1
